#sudo apt-get install xterm
#You can validate .desktop files by using the command: desktop-file-validate ~/Desktop/yourfilename.desktop
# -----------------------------------------------------------------------------

[Desktop Entry]

Name=Launch_SelfBalancingRobot1_Normal
Exec=sudo sh /home/pi/Desktop/SelfBalancingRobot1_PythonDeploymentFiles/HelperBashAndPythonScripts/Launch_SelfBalancingRobot1_Normal.sh
Terminal=true
Type=Application
Icon=/home/pi/Desktop/SelfBalancingRobot1_PythonDeploymentFiles/IconDesktopAndRClocalFiles/GreenLight_SelfBalancingRobot1_Normal.png

#Other optional parameters below:
#Encoding=UTF-8
#X-AppInstall-Package=xterm
#X-AppInstall-Popcon=15648
#X-AppInstall-Section=main
#Categories=System;TerminalEmulator;Utility;
#X-Desktop-File-Install-Version=0.21
#X-Ubuntu-Gettext-Domain=app-install-data
#GenericName=
#Comment=
